:root {
	--Pale-Violet: hsl(276, 100%, 81%);
	--Moderate-Violet: hsl(276, 55%, 52%);
	--Desaturated-Dark-Violet: hsl(271, 15%, 43%);
	--Grayish-Blue: hsl(206, 6%, 79%);
	--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
	--Dark-Grayish-Violet: hsl(270, 7%, 64%);
	--White: hsl(0, 0%, 100%);
	--Light-Grayish-Violet: hsl(270, 20%, 96%);
	--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
	--Very-Light-Magenta: hsl(289, 100%, 72%);
	/* gradients */
	--LightMagenta: hsl(293, 100%, 63%);
	--LightViolet: hsl(264, 100%, 61%);
	/*gradients*/
	--White: hsl(0, 0%, 100%);
	--Light-Grayish-Violet: hsl(270, 20%, 96%);
	--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
	--Very-Light-Magenta: hsl(289, 100%, 72%);
}

@font-face {
	font-family: regular;
	src: url(Rubik/static/Rubik-Regular.ttf);
}

@font-face {
	font-family: bold;
	src: url(Rubik/static/Rubik-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(Rubik/static/Rubik-Light.ttf);
}

body {
	background-color: var(--Light-Grayish-Violet);
	margin: 0;

}

main {
	display: flex;
}

main .flex-area2 {
	display: flex;
	justify-content: center;
	align-items: center;

}

.background-gradient {
	width: 26%;
	height: 85vh;
	background-image: linear-gradient(var(--LightMagenta), var(--LightViolet));
	border-radius: 0px 0px 170px 170px;
	margin-left: -30px;
}


.mobile {
	height: 500px;
	border: 10px solid white;
	width: 240px;
	position: relative;
	border-radius: 20px;
	margin-left: -6%;
	margin-top: 130px;
}


.topscreen-gradient {
	background-image: linear-gradient(to left, var(--LightMagenta), var(--LightViolet));
	height: 60px;
	border-radius: 10px;
}

.topscreen-gradient::after {
	content: "";
	position: absolute;
	left: 55px;
	width: 120px;
	height: 15px;
	border: 1px solid white;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	top: -4px;
}

.arrow {
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(135deg);
	position: relative;
	top: -26px;
	left: 10px;
}

.dot1,
.dot2,
.dot3 {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	top: -40px;
	left: 200px;
}

.dot2 {
	position: relative;
	top: -38px;
}

.dot3 {
	position: relative;
	top: -36px;
}

.mobile-content {
	background-color: var(--Light-Grayish-Violet);
	height: 500px;
}

.user-photo {
	border-radius: 50%;
	width: 20px;
	border: solid 1px white;
	padding: 0px;
	position: relative;
	top: 25px;
	left: 20px;
}

.user-name {
	font-size: 12px;
	position: relative;
	color: white;
	left: 50px;
	bottom: 3px;
}

.about {
	position: relative;
	font-size: 9px;
	color: var(--Dark-Grayish-Violet);
	left: 50px;
	bottom: 5px;
}

.user-profile {
	padding-left: 10px;
}


.flex-area2 {
	flex-grow: 1;
}

.content {
	width: 310px;
}

.content-title {
	font-size: 27px;
	font-family: regular-rubik;
	margin-bottom: 20px;
	color: var(--Very-Dark-Desaturated-Violet);
}

.content-text {
	color: var(--Dark-Grayish-Violet);
	font-size: 16px;
}

.chat-box1,
.chat-box2,
.chat-box5 {
	font-family: light;
	color: var(--Moderate-Violet);
	background-color: var(--Pale-Violet);
	width: 150px;
	height: fit-content;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	padding: 7px;

}

.mobile-dogs-imgs {
	margin: 25px 0px 10px 120px;

}

.dogs-imgs {
	width: 30px;
	border-radius: 10px;
	margin-right: 5px;
}

.chat-box3,
.chat-box4 {
	font-family: light;
	font-size: 10px;
	width: 130px;
	height: fit-content;
	margin-top: 10px;
	color: black;
	background-color: white;
	border-radius: 5px;
	margin-left: 90px;
	padding: 7px;
}

.offer-1,
.offer-2 {
	width: 150px;
	height: 30px;
	margin-top: 10px;
	background-image: linear-gradient(to right, var(--LightMagenta), var(--LightViolet));
	color: white;
	border-radius: 7px;
	margin-left: 10px;

}

.time-1,
.time-2 {
	position: relative;
	top: 4px;
	left: 10px;
	font-size: 10px;
	color: white;
}

.price-1 {
	font-family: regular;
	position: relative;
	left: 45px;
	top: 6px;
}

.price-2 {
	font-family: regular;
	position: relative;
	left: 60px;
	top: 6px;
}

.text-box {
	margin-top: 20px;
}

.input-text {
	border: 1px;
	border-radius: 10px;
	width: 85%;
	height: 24px;
	margin-left: 10px;
}

.arrow2-background {
	border-radius: 50%;
	background-color: var(--Very-Dark-Desaturated-Violet);
	width: 20px;
	height: 20px;
	position: relative;
	top: -23px;
	left: 190px;
}

.arrow2 {
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	position: relative;
	left: 5px;

}



@media(max-width:730px) {
	main {
		flex-wrap: wrap;
	}

	.mobile {
		margin-top: 50px;
	}

	.background-gradient {
		width: 40%;
		height: 500px;
		border-radius: 0px 0px 200px;
	}

	.flex-area2 {
		margin-top: 50px;
	}

	.content {
		text-align: center;
		width: 270px;
	}

}

@media(max-width:400px) {

	main {
		flex-wrap: wrap;
	}

	main.mobile {
		justify-content: center;
	}

	.background-gradient {
		width: 55%;
		border-radius: 0px 0px 170px;
		height: 400px;
	}

	.flex-area2 {
		margin-top: 50px;
	}

	.mobile {
		margin: -300px auto 0px;
	}

	.content {
		text-align: center;
		width: 270px;
	}
}